* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: blueviolet;
}

.container {
  max-width: 1200px;
  margin: 15px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: repeat(4, 1fr) 100px;*/
  grid-auto-rows: minmax(0, auto);
  align-items: start;
  grid-gap: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: fromright;
          animation-name: fromright;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes fromright {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fromright {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu-item {
  background-color: black;
  padding: 10px;
  border-radius: 25px;
  transition: all 0.3s;
}
.menu-item:hover {
  opacity: 0.5;
}

.section {
  border-radius: 30px;
  background-color: darkcyan;
  opacity: 0.8;
  padding: 30px;
  margin-bottom: 3%;
  transition: background-color 2s, transition 2s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: section-scale;
          animation-name: section-scale;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.section:hover {
  background-color: goldenrod;
}

@-webkit-keyframes section-scale {
  to {
    transform: scale(0.9, 1);
  }
}

@keyframes section-scale {
  to {
    transform: scale(0.9, 1);
  }
}
.image {
  width: 90px;
  border-radius: 25px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: fadeout;
          animation-name: fadeout;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes fadeout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.name {
  color: aquamarine;
}

.groups {
  text-decoration: underline;
  color: darkmagenta;
}

#experience {
  text-decoration: none;
}

a {
  color: aqua;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: underline;
}
a:visited {
  color: chartreuse;
}

.item-1, .item-2, .item-7 {
  grid-column: 1/3;
}

@media only screen and (max-width: 1200px) {
  .header {
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: blueviolet;
    z-index: 100;
    justify-content: space-around;
  }
  .container {
    margin-top: 200px;
  }
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: blueviolet;
    margin: 0;
  }
}
@media only screen and (max-width: 768px) {
  .section {
    text-align: center;
  }
  .item-3, .item-5 {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
  }
  .item-6 {
    grid-row: 3;
    grid-column: 2;
    display: flex;
    flex-direction: column;
  }
  table {
    align-content: center;
  }
  ul, ol, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}/*# sourceMappingURL=style.css.map */