body {
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  h1 {
    color: red;
  }

form {
    width: 350px;
}

input {
    display: block;
    float: right;
}

input[type="submit"] {
    width: 100px;
    float: left;
}
label {
    line-height: 35px;
}

select {
    float: right;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}